block content-main
    - let info = content; //参数
    //-
        @var : content-主题内容变量
    //
    article(class="content")
        h1(class="title") !{info}
        div(class="content")
            ul(class="nav-ul")
              li
                a(href="/openapi/lists" class="title-mid") 接口列表
    // 注释